<section class="beer-list">
  <div class="beers-container">
    <ul class="beers">
      <li *ngFor="let item of dispenserService.dispensers$ | async">
        <h2>{{item.beerName}}</h2>
        <p>{{item.cost}} €/liter</p>
        <p>{{item.totalAmount}}</p>
        <p>{{item.timesUsed}}</p>
        <p>{{item.totalCost}}</p>
        <section class="button">
          <button (click)="toggleStatus(item, usage)">
            {{ item.status ? 'Close' : 'Open' }}
          </button>
        </section>
      </li>
    </ul>
  </div>
</section>
