body,
html {
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
}

app-layout {
  margin: 0 auto;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
